# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environment
.venv/
venv/

# =========================
# AWS CDK
# =========================
cdk.out/
.cdk.staging/

# =========================
# Logs & runtime files
# =========================
*.log
logs/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# =========================
# Test / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Draw.io temp / exports
# =========================
*.drawio.bkp
